.container {
    height: 100%;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    background-color: var(--white-color-0);
    height: 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main {
    height: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--white-color-0);
    border-top: 1px solid var(--gray-color-0);
}