.container {
    display: flex;
    align-items: center;
    position: relative;
    width: 44rem;
    height: 8rem;
    border-radius: 50px;
    padding: 0 0.5rem;
    background: white;
    box-shadow: 24px 24px 44px 0px rgba(0, 0, 0, 0.14);
}

.profile {
    position: relative;
    width: 7rem;
    height: 7rem;
}

.userName {
    margin-left: 1rem;
    font-size: 1.6rem;
}